.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/website/lbgfs2024/_site
inst/website/lbgfs2024/.quarto
.DS_Store
inst/exercises/lbgfs2024/_extensions
inst/ohp/20240927_ohp_l02/odg
inst/ohp/20241004_ohp_l03/odg
inst/formula
inst/ohp/20241011_ohp_l04/odg
